apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: devsu-demo-pvc
  namespace: devsu-demo
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: managed-premium